---
const { class: cls = "" } = Astro.props;
---

<div class={cls}>
  <!-- Device mockup -->
  <div class="transform-gpu scale-95 sm:scale-100">
    <div class="inline-block">
      <div
        class="relative mx-auto border-white/10 bg-neutral-200 border-[8px] rounded-t-xl h-[200px] sm:h-[220px] md:h-[260px] lg:h-[300px]"
        style="aspect-ratio: 16/9;"
      >
        <div
          class="rounded-lg overflow-hidden h-[184px] sm:h-[204px] md:h-[244px] lg:h-[284px] bg-neutral-100"
        >
          <img
            src="/Portfolio.png"
            class="h-[184px] sm:h-[204px] md:h-[244px] lg:h-[284px] w-full rounded-lg object-cover"
            alt="laptop preview"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
      <div
        class="relative mx-auto bg-neutral-300 rounded-b-xl rounded-t-sm h-[16px] sm:h-[18px] md:h-[20px] w-full"
      >
        <div
          class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[64px] h-[6px] md:w-[96px] md:h-[8px] bg-neutral-400"
        />
      </div>
    </div>
  </div>
</div>
