<section class="mx-auto max-w-5xl px-4 md:px-6 lg:px-8">
    <!-- PC -->
    <div class="transform-gpu scale-[1.12] md:scale-[0.94]">
      <div class="inline-block">
        <div class="relative mx-auto border-white/10 bg-neutral-200 border-[8px] rounded-t-xl h-[230px] md:h-[294px]" style="aspect-ratio: 16/9;">
            <div class="rounded-lg overflow-hidden h-[214px] md:h-[278px] bg-neutral-100">
                <img src="/Portfolio.png" class="h-[214px] md:h-[278px] w-full rounded-lg" alt="laptop preview dark">
            </div>
        </div>
        <div class="relative mx-auto bg-neutral-300 rounded-b-xl rounded-t-sm h-[18px] md:h-[21px] w-full">
            <div class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[64px] h-[6px] md:w-[96px] md:h-[8px] bg-neutral-400"></div>
        </div>
      </div>
    </div>
</section>
